@font-face {
    font-family: 'Lindsay';
    src: local('Lindsay'), url('../../assets/lindsay-becker.ttf') format('ttf'),
                                 url('../../assets/lindsay-becker.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  