$beige-color: #F0D9B5;
$brown-color: #B58863;
$gold-color: #EBC600;
$yellow-color: #FFE500;
$black-color: #000000;
$green-color: #00FF38;
$blue-color: #0038FF;
$red-color: #FF0000;

.homepage {
    background-image: url('../../assets/home-background.jpg');
    height: 100vh;
    background-size: cover;
    position: relative;
    font-family: 'Lindsay', sans-serif;
    color: $beige-color;

    img {
        object-fit: cover;
        position: absolute;
        width: 20rem;
        top: 2%;
        left: 1%;
    }

    .homepage__login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(to right, #1E2021, #323436);
        font-size: 2rem;
        border-radius: 1rem;
        padding: 0rem;
        padding-left: 3rem;
        padding-right: 3rem;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        padding-bottom: 2rem;
        padding-top: 2rem;
        width: 35rem;
        p {
            margin: 0;
        }
        .user {

            div {
                margin-left: 5rem;
            }
            label {
                margin-right: 1rem;
            }
            input {
                background: transparent;
                border: 2px solid $beige-color;
                border-radius: 0.5rem;
                color: $beige-color;
            }

            .user__color {
                display: flex;
                margin-top: 1rem;
            }
            .bullets > * {
                transition: all 0.2s ease-in-out;
                &:hover {
                    cursor: pointer;
                    scale: 1.1;
                }
            }
        }
        .button--submit {
            background: transparent;
            border: 2px solid $beige-color;
            color: $beige-color;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: 2rem;
            transition: all 0.3s ease-in-out;
            &:hover {
                background: $beige-color;
                color: $black-color;
                cursor: pointer;
            }
        }
        .success_message {
            position: absolute;
            bottom: 0.5rem;
            left: 1rem;
            font-size: 1.5rem;
            transition: all 0.3s ease-in-out;
        }
    }
    
    .homepage__footer {
        position: absolute;
        bottom: 0;
        right: 2%;
        font-size: 1.5rem;
    }

    .circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        margin: 5px;
        cursor: pointer;
      }
      
      .homepage__menu {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        font-size: 2rem;
        border-radius: 1rem;
        padding-left: 5rem;
        padding: 2rem;
        gap: 4rem;
        a {
            color: $gold-color;
            text-decoration: none;
            border: 2px solid $gold-color;
            border-radius: 0.5rem;
            background: linear-gradient(to right, #1E2021, #323436);
            padding: 0.5rem 1rem;
            transition: all 0.3s ease-in-out;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            &:hover {
                background: $gold-color;
                color: $black-color;
                cursor: pointer;
            }
        }
      }
}