div.piece{
    
    position: relative;
}

.piece__img{
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.piece__img--unplaced{
    display: block;
    width: 100px;
    height: 100px;
}