.meeple{
    position: absolute;
    display: block;
    max-width: 30px;
    max-height: 30px;
    z-index: 10;
}

.meeple--center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.meeple--top-center{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.meeple--top-left{
    top: 0;
    left: 15px;
}

.meeple--top-right{
    top: 0;
    right: 15px;
}

.meeple--bottom-center{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.meeple--bottom-left{
    bottom: 0;
    left: 15px;
}

.meeple--bottom-right{
    bottom: 0;
    right: 15px;
}

.meeple--left-center{
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.meeple--left-bottom{
    bottom: 30%;
    left: 0;
    transform: translateY(50%);
}

.meeple--left-top{
    top: 30%;
    left: 0;
    transform: translateY(-50%);
}


.meeple--right-top{
    top: 30%;
    right: 0;
    transform: translateY(-50%);
}

.meeple--right-center{
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.meeple--right-bottom{
    bottom: 30%;
    right: 0;
    transform: translateY(+50%);
}
